.DS_Store
.cursorignore
.env
.envrc
.idea
.netrwhist
.vscode
*.iml
*.log
*.pem
*~
**/bin/
**/.bin/
**/.direnv/
**/.nix/
**/.op/
**/.pre-commit-config.yaml
**/.scripts/
**/.secrets/
**/.testdata/
**/result/
**/shell.nix
**/target/
